{% extends "wrapper/base.html" %}
{% block content %}
{% load custom_filters %}
{% load static %}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid" >
            <div class="row">
                 
                <div class="col-lg-4 col-md-4 col-sm-4 padding-10"> 
                    <h2 class="left">Datasets</h2> 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 padding-10">
                    {% if dataset %}
                        <select  name="dataset_id" class="form-control">
                            {% for ds in datasets %}
                            <tr class="{% if ds.id == dataset.id %}selected{% endif %}">
                                <option {% if ds.id == dataset.id %} selected {% endif %} value="{{ ds.id }}">{{ ds.data_name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 padding-10">
                    {% if dataset %}
                        <a href="{% url 'create_dataset' %}" class="btn btn-primary btn-sm right "  data-toggle="tooltip" data-placement="top" title="Upload New Dataset"><i class="nav-icon fas fa-plus"></i> &nbsp; New Dataset</a>  
                    {% endif %}
                </div>
                    
                 
                 
            </div>
            <div class="row hide">
                <div class="col-12" > <!-- start of col dataset grid  -->
                     
                </div> <!-- end of col dataset grid -->
            </div>
            {% if dataset %}
            <div class="row v-margin-10"> 
                <div class="col-8" > <!-- start of col datset detail -->  
                    <div class="card card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12  ">
                                    <h5 class="left">Traning</h5>
                                    <div class="right hide">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'start_training_post' %}">
                                {% csrf_token %}
                                <input type="hidden" name="dataset_id" value="{{dataset.id}}"/>
                                <div class="row">
                                     
                                    <div class="col-lg-4 col-md-3 col-sm-12 center">
                                        <div class="form-group">
                                            <label for="model">Choose a model:</label>
                                            <select id="model" name="model" class="form-control">
                                                {% for mkey, mval in models %}
                                                    <option value="{{ mkey }}">{{ mkey }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-3 col-sm-12 center">
                                        <div class="form-group">
                                            <label for="model">Strategy:</label>
                                            <select id="strategy" name="strategy" class="form-control">
                                                {% for strategy in strategies %}
                                                    <option value="{{ strategy }}">{{ strategy }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    



                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <button type="submit" class="btn btn-info right">
                                            <i class="fas fa-microscope"></i> <span>Start Training</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                       
                <div class="col-4" > <!-- start of col datset detail -->  
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12  ">
                                    <h5 class="left">{{ dataset.data_name }}</h5>
                                    <div class="right">
                                        <a href="{% url 'edit_dataset' dataset.id %}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit Dataset"><i class="nav-icon fa fa-edit"></i> &nbsp; Edit</a>
                                        <a href="{% url 'delete_dataset_confirm' dataset.id %}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete Dataset"><i class="nav-icon fa fa-trash"></i> &nbsp; Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-5">Name</dt>
                                <dd class="col-sm-7">{{ dataset.data_name }}</dd>
     
     
                                <!-- Include dataset statistics fetched by gather_dataset_stats() -->
                                {% with stats=dataset.gather_dataset_stats %}
                                <dt class="col-sm-5">Total Images</dt>
                                <dd class="col-sm-7">{{ stats.overall_total_examples }}</dd>
                                <dt class="col-sm-5">Image Size</dt>
                                <dd class="col-sm-7">{{ stats.image_size }}</dd>
                                <dt class="col-sm-5">Total Classes</dt>
                                <dd class="col-sm-7">
                                    {{ stats.total_classes }}
                                </dd>
                                <dt class="col-sm-5">Class-wise Counts</dt>
                                <dd class="col-sm-7">
                                         
                                        
                                <ol class="h-padding-10">
                                    {% for class_details in stats.classwise_details %}
                                        <li>
                                        {{ class_details.class_name }} : {{ class_details.total_examples }}
                                        </li>
                                    {% endfor %}    
                                </ol>
                                         
                                    
                                </dd>
                                {% endwith %}
                            </dl>
                        </div>
                         
                    </div>
                </div><!-- end of col datset detail --> 
                
                
                 


            </div>
            {% endif %}
             
 

                {% if dataset %}
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs" id="trainingTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="training-tab" data-toggle="tab" href="#training" role="tab" aria-controls="training" aria-selected="true">Trainings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="dataset-tab" data-toggle="tab" href="#dataset" role="tab" aria-controls="dataset" aria-selected="false">Dataset Details</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="trainingTabsContent">
                            
                            <div class="tab-pane fade show active" id="training" role="tabpanel" aria-labelledby="training-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table table-hover table-responsive-md">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Started At</th>
                                                    <th scope="col">Ended At</th>
                                                    <th scope="col">Duration</th>
                                                    <th scope="col">Result</th>
                                                    <th scope="col">Algorithm</th>
                                                    <th scope="col">Dataset</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for job in trainings %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>{{ job.job_name }}</td>
                                                    <td>{{ job.status }}</td>
                                                    <td>{{ job.started_at|date:"Y-m-d H:i:s" }}</td>
                                                    <td>{{ job.ended_at|date:"Y-m-d H:i:s" }}</td>
                                                    <td>{{ job.started_at|date_diff:job.ended_at }}</td>
                                                    <td>{{ job.result }}</td>
                                                    <td>{{ job.algo }}</td>
                                                    <td>{{ job.dataset_img.data_name }}</td>
                                                    <td>
                                                        <a href="{% url 'training_job_update' job.id %}" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Edit"><i class="nav-icon fa fa-edit"></i></a>
                                                        <a href="{% url 'training_job_delete' job.id %}" class="btn btn-danger btn-sm " data-toggle="tooltip" data-placement="top" title="Delete"><i class="nav-icon fa fa-trash"></i></a>
                                                        {% if job.status == status_running %}
                                                        <a href="{% url 'stop_training' job.id %}" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Stop"><i class="nav-icon fa fa-times"></i></a>
                                                        {% endif %}
                                                        
                                                        {% comment %} <a href="{% url 'training_job_delete_confirm' job.id %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete"><i class="nav-icon fa fa-trash"></i></a> {% endcomment %}
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="8">No training jobs found.</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dataset" role="tabpanel" aria-labelledby="dataset-tab">
                                
                                <div class="row v-margin-10">                
                            
                                    {% for class_details in stats.classwise_details %}
                                        <div class="col-md-6">
                                            <div class="card mb-3">
                                                <div class="card-body">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col-12  ">
                                                                <h6 class="left">{{ class_details.class_name }}</h6>
                                                                <p class="card-text">Total Examples: {{ class_details.total_examples }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- Display preview images -->
                                                    <div class="row v-margin-10">
                                                        {% for image_url in class_details.preview_images %}
                                                        <div class="col-4 mb-3">
                                                            <img src="{{ image_url }}" class="img-thumbnail" alt="Preview Image">
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                
                                </div>
                            </div>
                          
                            


                        </div>
                    </div>
                </div>
                {% endif %}

            
        </div>
    </section>
</div>


 


{% endblock %}
